<a href="https://colab.research.google.com/github/SardarSaqibKhan/Data-Science-and-Decision-Making/blob/main/Uploading_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Uploading from local computer

In [12]:
from google.colab import files 
uploaded = files.upload()

Saving bank.csv.zip to bank.csv.zip

In [14]:
from zipfile import ZipFile
filename = "bank.csv.zip"
with ZipFile(filename, "r") as zip:
  zip.extractall()
  print("done")

done

In [15]:
import pandas as pd 
df = pd.read_csv("bank.csv")
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

##uploading from google drive

In [17]:
from google.colab import drive 
drive.mount("/content/drive")

Mounted at /content/drive

In [18]:
from zipfile import ZipFile
filename = "/content/drive/My Drive/bank.csv.zip"
with ZipFile(filename, "r") as zip:
  zip.extractall()
  print("done")

done

In [20]:
import pandas as pd 
df = pd.read_csv("bank.csv")
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

##Uploading from Github

In [23]:
! git clone https://github.com/SardarSaqibKhan/Data-Science-and-Decision-Making.git

Cloning into 'Data-Science-and-Decision-Making'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [25]:
import pandas as pd 
df = pd.read_csv("Data-Science-and-Decision-Making/bank-full.csv")
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...